<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post | Board</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
    <!-- Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- my stylings -->
    <style>
        body {
            background-color: #f2f3f7;
            font-family: "Noto Sans CJK JP", sans-serif;
        }

        .card {
            border-radius: 10px;
            word-wrap: break-all;
        }

        .content-body-wrapper {
            margin-left: 1em;
        }
        .content-body {
            margin-top: 5px;
            padding-bottom: 5px;
            /* pre-wrapにするとソース内の改行コードで改行、かつ行ボックスの端でも改行します */
            white-space: pre-wrap;
        }

        .post-metadata {
            margin-bottom: 0;
        }

        .post-form {
            padding-bottom: 30px;
            margin-top: 30px;
        }

        .submit-btn {
            display: flex;
            justify-content: flex-end;

        }

        .title {
            font-weight: 900;
        }

        .title-box {
            display: flex;
            align-items: flex-end;
            flex-direction: row;

        }
        .icon-box {
            padding: 0 10px 5px 0;
        }
        .delete-button-wrapper {
            display: flex;
            justify-content: flex-end;
        }
    </style>
</head>

<body class="container">
    <div class="card">
        <div class="card-content">
            <div class="title-box">
                <div class="green-text icon-box">
                    <i class="material-icons medium">assignment</i>
                </div>
                <h3 class="title green-text"> 掲示板</h3>
            </div>
        </div>
    </div>

    <br>
    {{$sessionTrackingID := .SessionTrackingID}}
    {{$oneTimeToken := .OneTimeToken}}
        <div class="posts-container">
            {{range .Posts}}
            <div class="post card">
                <div class="card-content">
                    <p class="post-metadata">{{.ID}}:
                        <span class="green-text">{{.Username}}</span> {{.Date}}
                        <strong>ID:{{.TrackingID}}</strong>
                    </p>
                    <div class="content-body-wrapper">
                        <p class="content-body">{{.Content}}</p>
                    </div>
                    {{if eq .TrackingID $sessionTrackingID}}
                    <div class="delete-button-wrapper">
                        <form action="/delete" method="post">
                            <input type="hidden" name="delete-post-id" value="{{.ID}}">
                            <input type="hidden" name="one-time-token" value="{{$oneTimeToken}}">
                            <button class="btn red lighten-1" type="submit">削除</button>
                        </form>
                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    <br>
    <div class="divider"></div>

    <!-- 投稿フォーム -->
    <div class="post-form card">
        <div class="card-content">
            <div class="title-box">
                <div class="icon-box green-text">
                    <i class="material-icons prefix">mode_edit</i>
                </div>
                <h5 class="green-text title">新規投稿</h5>
            </div>

            <div class="section"></div>

            <form action="/" method="post">
                <div>
                    <label for="user-name">名前（省略可）</label>
                    <input name="user-name" type="text" placeholder="名無し"></input>
                </div>
                <div class="section"></div>
                <div class="input-field">
                    <label for="content">投稿内容（複数行可）</label>
                    <textarea class="materialize-textarea" name="content" cols="30" rows="50"></textarea>
                </div>
                <div class="section"></div>
                <!-- OneTimeToken -->
                <input type="hidden" name="one-time-token" value="{{.OneTimeToken}}">
                <div class="submit-btn">
                    <button class="btn green" type="submit">書き込む</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
</body>

</html>